*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(255, 115, 0);
    font-size: 16px;
}

body{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}

header{
    color: rgb(255, 115, 0);
    background-color: rgb(58, 58, 58);
    min-height: 5vh;
    padding: 10px;
    font-size: 2em;
}

header h1{
    display: inline-block;    
}

header nav{
    float:right;
    padding-top: 10px;
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li img{
    width:25px;
    height:25px;
    margin-left: 10px;

}

a {
    color: rgb(255, 115, 0);
    text-decoration: none;
    font-size: 1.5em;
}

main{
    display: flex;
    flex-direction:row;
}

p{
    color: rgb(255, 115, 0);
}

aside{
    background-color: rgb(58, 58, 58);
    max-width: 300px;
    float: left;
    justify-content: center;
    align-content: center;
    border: 6px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
}

aside h2{
    text-align: center;
    font-size: 1.75em;
    margin: 10px;
}

#me{
    border-radius: 150px;
}

#image-header{
    font-size: 1.5em;
    max-height:2em;
    margin: 1em;
}

.gallery{
    background-color:rgb(58, 58, 58);
    border-radius: 10px;
    margin: 10px;
}

.photos{
    display: block;
    margin: 2em;
    border: 10em, rgb(58, 58, 58), solid;
}

.photos img{
    width: 400px;
    margin: 20px;
}

footer{
    background-color: rgb(58, 58, 58);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    min-width: 100vw;

}
